

.div-form-one {
    background-color: rgb(61, 61, 61);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    height: 100vh;
}


form {
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;

    & input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    & select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.logo {
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}

h1 {
    font-family:"Ysabeau SC", serif;
    text-align: center;
    color: white;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover {
        background-color: #e7e7e7;
    }
}

label {
    color: gray;
}

.div-calendar {
    width: 500px;
    height: 450px;
    background-color: white;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: modalView 0.5s;
    overflow: hidden;
}

@keyframes modalView {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.div-calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h3 {
        text-transform: uppercase;
    }

    & span {
        padding: 10px;
        cursor: pointer;
        font-size: large;
        font-weight: bold;
    }
}


.div-calendar-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    
}

.div-arrow-month {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    & .h3-month {
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        font-size: 36px;
    }

    & .span-arrow-back {
        border: #ccc 1px solid;
        padding: 5px;
        font-weight: bold;
        font-size: large;
        text-transform: uppercase;
        border-radius: 5px;
        cursor: pointer;
    }
}

.div-calendar-days {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.div-calendar-hours {
    margin-top: 20px;
    height: 350px;
    width: 100%;
    overflow-y: scroll;

    & h3 {
        text-align: center;
        margin-bottom: 5px;
    }
}

.div-calendar-days .tr-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;

    & td:not(:first-child) {
        padding: 20px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: rgb(167, 167, 167);
        }
    }
}

.table-hour {
    height: 250px;
    width: 100%;

    & tr:not(.row-head-hour) {
        height: 50px;
    }

    & tr:hover:not(.row-head-hour) {
       background-color: #fff0da;
       cursor: pointer;
    }

    & th {
        text-align: center;
        border-bottom: 1px solid rgb(214, 214, 214);
    }

    & .hour {
        text-align: center;
        width: 100px;
    }

    & .appointment {
        text-align: center;
    }

}



